`machine_name` resource does not set `LocalHostName`

Re: `machine_name` resource: one thing to keep in mind is that we don't have the same sort of logic that exists when you set a machine name using System Preferences > Sharing. In other words, `LocalHostName` cannot contain particular characters (whereas `ComputerName` and `HostName` can contain any characters).

Per the comment in the `machine_name` resource:

 ```ruby
# We cannot set the LocalHostName here because it does not conform to
# the DNS standards outlined in RFC 1034 (section 3.5)
```

We need to implement unit tests and corresponding logic for the translation of something like `New_10.13.2_WashingMachine` to `New-10132-WashingMachine`. This is what System Preferences does to make sure the `LocalHostName` meets RFC 1034

Addressed with changes introduced in #43 